<!--
<div class="jumbotron" id="first">
 
  <div class="img" ></div>
  <div class="inner">
    <h1>펜션</h1>
    <p>펜션에 오신것을 환영합니다.</p>
    <p><a class="btn btn-success" href="/home" role="button">둘러보기</a></p>
  </div>
</div>
-->
<section id="intro" class="d-flex flex-column justify-content-center align-items-center">
   <!-- <img class="mb-5 mb-lg-0" style="width: 10rem;" src="https://uni.likelion.org/assets/logo/unilion-logo-w-bc7ad4e82704ce876f14020757b5b185a385d56e71bb75fa08836684fd5a9c13.png" alt="Unilion logo w">
  -->
  <div class="overlay"></div>
    <div class="inner">
        <h1>펜션</h1>
        <p>펜션에 오신것을 환영합니다.</p>
        <p><a class="btn btn-default" href="/home" role="button" id="b1">둘러보기</a></p>
    </div>
<section>


  

</section></section>