

  <div class ="home_intro">
    <h4 style="padding-bottom:20px;">
      <i><span style="">Pension with time</span>
      </i></h4>
  </div>


    
    <div class="row" style="margin :50px 0px">
      
      <div class="col-md-1">
        <div class="imagee">
        <img src="https://image.flaticon.com/icons/svg/34/34389.svg" width="100" height="100" border="0" alt="Happy room">
        </div>
       
      </div>
       <div class="col-md-3" id="contents">
         <div class="text"> <a href="http://tranquil-atoll-90616.herokuapp.com/meetings">실시간 예약현황 확인하기</a></div>
       </div>
      <div class="col-md-1">
        
        <div class="imagee">
        <img src="https://www.flaticon.com/premium-icon/icons/svg/449/449984.svg" width="100" height="100" border="0" alt="Happy room">
      </div> 
        </div>
      <div class="col-md-3" id="contents">  
        <div class="text">고객센터 </div>
        <div class="text">010-2533-6009 </div>
      </div>
     
      <div class="col-md-1">
        <div class="imagee">
          <img src="https://image.flaticon.com/icons/svg/126/126241.svg" width="100" height="100" border="0" alt="Happy room">
        </div>
      </div>
      <div class="col-md-3" id="contents"> 
         <div class="text"> 계좌정보</div>
         <div class="text"> 311029-52-109549</div>
         <div class="text"> 농협</div>
      </div>
      
    </div>
 
 
  <div class="home_image">
    <div class="img"></div>
    <div class="row" style="margin :50px 0px">
      
      <div class="col-md-4">
        <img src="http://pension11.sitecook.kr/images/sub_ban01.jpg" width="310" height="170" border="0" alt="Happy room">
      </div>
      <div class="col-md-4" >
        <img src="http://pension11.sitecook.kr/images/sub_ban02.jpg" width="310" height="170" border="0" alt="Happy room">
      </div>
      <div class="col-md-4">
        <img src="http://pension11.sitecook.kr/images/sub_ban03.jpg" width="310" height="170" border="0" alt="Happy room">
      </div>
    </div>
 
 
</div>