<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
    <li data-target="#carousel-example-generic" data-slide-to="4"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox" style="max-height: 500px; width:100%">
    <div class="item active">
      <img src="/assets/4.jpg" alt="..." style="max-height: 500px; width:100%">
      <div class="carousel-caption">
        
      </div>
    </div>
    <div class="item">
      <img src="/assets/1.jpg" alt="..." style="max-height: 500px; width:100%">
      <div class="carousel-caption">
        
      </div>
    </div>
    <div class="item">
      <img src="/assets/9.jpg" alt="..." style="max-height: 500px; width:100%">
      <div class="carousel-caption">
        
      </div>
    </div>
    <div class="item">
      <img src="/assets/7.jpg" alt="..." style="max-height: 500px; width:100%">
      <div class="carousel-caption">
        
      </div>
    </div>
        <div class="item">
      <img src="/assets/10.jpg" alt="..." style="max-height: 500px; width:100%">
      <div class="carousel-caption">
        
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

  <div class ="home_intro">
    <h4 style="padding-bottom:20px;">
      <i><span style="">Pension with time</span>
      </i></h4>
  </div>


    
    <div class="row" style="margin :50px 0px">
      
      <div class="col-md-1">
        <div class="imagee">
        <img src="https://image.flaticon.com/icons/svg/34/34389.svg" width="100" height="100" border="0" alt="Happy room">
        </div>
       
      </div>
       <div class="col-md-3" id="contents">
         <div class="text-main"> <a href="/meetings" style="font-size: 150%; color: black">예약현황 확인하기</a></div>
       </div>
      <div class="col-md-1">
        
        <div class="imagee">
        <img src="https://www.flaticon.com/premium-icon/icons/svg/449/449984.svg" width="100" height="100" border="0" alt="Happy room">
      </div> 
        </div>
      <div class="col-md-3" id="contents">  
        <div class="text-main">고객센터 </div>
        <div class="text-main">010-2533-6009 </div>
      </div>
     
      <div class="col-md-1">
        <div class="imagee">
          <img src="https://image.flaticon.com/icons/svg/126/126241.svg" width="100" height="100" border="0" alt="Happy room">
        </div>
      </div>
      <div class="col-md-3" id="contents"> 
         <div class="text-main"> 계좌정보</div>
         <div class="text-main"> 311029-52-109549</div>
         <div class="text-main"> 농협</div>
      </div>
      
    </div>
 
 
  <div class="home_image">
    <div class="img"></div>
    <div class="row" style="margin :50px 0px">
      
      <div class="col-md-3">
        <img src="/assets/4.jpg" width="310" height="170" border="0" alt="Happy room">
      </div>
      <div class="col-md-3" >
        <img src="/assets/7.jpg" width="310" height="170" border="0" alt="Happy room">
      </div>
      <div class="col-md-6">
        <img src="/assets/main_sub.jpg" width="100%" height="170" border="0" alt="Happy room">
      </div>
    </div>
        <div class="row" style="margin :50px 0px">
      
      <div class="col-md-3">
        <img src="" width="310" height="170" border="0" alt="">
      </div>
      <div class="col-md-3" >
        <img src="/assets/8.jpg" width="310" height="170" border="0" alt="Happy room">
      </div>
      <div class="col-md-3" >
        <img src="/assets/10.jpg" width="310" height="170" border="0" alt="Happy room">
      </div>
            <div class="col-md-3" >
        <img src="/assets/1.jpg" width="310" height="170" border="0" alt="Happy room">
      </div>
    </div>
 
 
</div>