<div class="container">
    <img src="/assets/home-icon" style="width:30px"></img>
    <div style="display:inline-block">
        <div style="display: flex">
            <h5>Home </h5>
            <h5><strong> > </strong></h5>
            <h5> 시설소개</h5>
             <h5><strong> > </strong></h5>
            <h5> 주변경관</h5>
        </div>
        </div>
   
        <h3 style="text-align:right">▶주변경관을소개합니다.</h3>
        <div class="introduce_content">
            <img src="/assets/1.jpg" class="img-scene"></img>
            <img src="/assets/4.jpg" class="img-scene"></img>
            <img src="/assets/5.jpg" class="img-scene"></img>
            <img src="/assets/7.jpg" class="img-scene"></img>
            <img src="/assets/8.jpg" class="img-scene"></img>
            <img src="/assets/9.jpg" class="img-scene"></img>
            <img src="/assets/10.jpg" class="img-scene"></img>
            
            </div>
            <hr>
        </div>
</div>
