
/**
#intro {

    height: 100%;
    color: #fff;
    background: url("/assets/main.jpg") no-repeat center center/cover scroll;
}
.inner{
    text-align: center;
}
#b1{
     background-color: rgba( 255, 255, 255, 0.5 );
    color: white;
}
.bgBlur:before {

  content: '';

  position: absolute;

  top: 0; left:0; right:0; bottom:0;

  background: inherit;

  z-index:-1;

  filter: blur(6px); 

  -webkit-filter: blur(6px); 

  -moz-filter: blur(6px);

  -o-filter: blur(6px);

  filter:url(#blur);

}
#blurExample {

position: relative;
z-index:1;
float:left;
margin:10px;
overflow:hidden;
}
**/
body {
  background: url('/assets/main.jpg') no-repeat center center fixed;
  background-size: cover;
}

.blur {
  background: url('/assets/main.jpg') no-repeat center center fixed;
  background-size: cover;
  overflow: hidden;
  filter: blur(10px);
  position: absolute;
  height: 700px;
  top: -50px;
  left: -50px;
  right: -50px;
  bottom: -50px;
}

.widget {
  border-top: 2px solid rgba(255, 255, 255, .5);
  border-bottom: 2px solid rgba(255, 255, 255, .5);
  height: 700px;
  width: 100%;
  overflow: hidden;
}

.center {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#b1{
     background-color: rgba( 255, 255, 255, 0.5 );
    color: white;
}





/*  NOT REQUIRED  */

.text {
  height: 200px;
  
      
}

.text h1 {
  text-align: center;
  text-shadow: 1px 1px rgba(0, 0, 0, .1);
  color: #ffffff;
  margin-top: 57px;
  font-family: 'Lora', serif;
  font-weight: 700;
  font-size: 38px;
}

.text p {
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px rgba(0, 0, 0, .1);
  margin-top: 0px;
  font-family: 'Lato', serif;
  font-weight: 400;
  font-size: 22px;
}